body {
    font-family: Arial, sans-serif;
    background-color: rgb(21, 209, 197);
    text-align: center;
}

h1 {
    color: #333;
}

.container {
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.enter{
    padding: 8px;
    border: 2px solid darkslategrey;
    border-radius: 10px;
    background-color: aqua;
    width: 18%;
    text-decoration: none;
    color: black;
}
.enter:hover{
    padding: 8.5px;
    background-color: blue;
}