*{
    padding: 0;
    margin: 0;  
}
body{
    background-color: cadetblue;
    padding: 0%;
    margin: 0%;
}
header{
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 100%;
    width: 100%;
    height: 6.3%;
    background-color: darkcyan;
    border-bottom: 3px solid whitesmoke;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.es{
    display: flex;
    flex-flow: row nowrap;
}
.op-logo{
    margin-left: 15px;
    margin-right: 15px;
}
.lg{
    width: 50px;
}
.lp{
    margin-right: 1px;
}
a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 12px;
    background-color: darkcyan;
}
a:hover{
    color: black;
    display: block;
    padding: 12px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: cyan;
}
.busca{
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
    background-color: darkcyan;
}
.busca:hover{
    color: black;
    display: block;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: cyan;
}
ul li.itens{
    display: inline;
    float: left;
}
.produtos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.intro{
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    flex: 1 1 100%;    
    height: 70%;
}
.prodtitulo{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nomeprod{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    background-color: darkcyan;
    border-radius: 10px;
    border: 5px solid black;  

}
.rp{
    width: 34%;
    margin-top: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    border: 2px solid skyblue;
    background-color: darkblue;  
    color: darkcyan;
}
footer{
    width: 99%;
    margin-top: 70px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid skyblue;  
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: darkturquoise;
    align-items: center;
}
.esq{
    display: flex;
    flex-flow: row nowrap;
}